body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none
}

a {
    text-decoration: none;
}

.head-logo {
    color: #4D5AE5;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.head-logo-studio {
    color: #2E2F42;
    font-family: "Raleway";
    font-size: 18;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.navi-item-studio {
    color: #2E2F42;
    font-size: 16;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.navi-item-studio:hover,
.navi-item-studio:focus {color: #404bbf}

.navi-item-portfolio {color: #2E2F42;
    font-size: 16;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.navi-item-portfolio:hover {color: #404bbf}

.navi-item-contacts {
    color: #2E2F42;
    font-size: 16;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.navi-item-contacts:hover {
    color: #404bbf
}

.contacts {
    font-style: normal;
    font-size: 16;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.hero {
    color: #FFF;
    background: #2E2F42;
    text-align: center;
    font-size: 56;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-button {
    color: #FFF;
    background: #2E2F42;
    font-size: 16;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}